.waitlist {
  background: linear-gradient(
    80.75deg,
    #d155ff 4.6%,
    #b532f2 17.14%,
    #a016e8 29.4%,
    #9406e2 40.22%,
    #8f00e0 48.46%,
    #a08cff 92.32%
  );
  box-shadow: 0px 15px 30px rgba(57, 26, 115, 0.15);
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.credit {
  position: absolute;
  left: 825px;
  top: -40px;
  z-index: 30;
  transform: rotate(-19.84deg)
}


.button2 {
  background: linear-gradient(
    80.75deg,
    #d155ff 4.6%,
    #b532f2 17.14%,
    #a016e8 29.4%,
    #9406e2 40.22%,
    #8f00e0 48.46%,
    #a08cff 92.32%
  );
  box-shadow: 0px 15px 30px rgba(57, 26, 115, 0.15);
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}
.button3 {
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  box-shadow: 0px 15px 30px rgba(57, 26, 115, 0.15);
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  width: 320px;
  text-align: center;
}

.sub1 {
  position: absolute;
  top: 595px;
  background: #b376fe;
  box-shadow: 0px 15px 30px rgba(57, 26, 115, 0.15);
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 380px;
  text-align: center;
}

.sub2 {
  position: absolute;
  top: 640px;
  background: linear-gradient(
    75.68deg,
    #d155ff 2.33%,
    #b532f2 15.95%,
    #a016e8 29.28%,
    #9406e2 41.05%,
    #8f00e0 50%,
    #a08cff 97.67%
  );
  box-shadow: 0px 15px 30px rgba(57, 26, 115, 0.15);
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
  text-align: center;
}

.sub3 {
  position: absolute;
  top: 594px;
  background: #6d6e8a;
  border-radius: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 53px;
  padding-right: 53px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
  text-align: center;
}



.saalam {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 93px;
  background: linear-gradient(to right, #000000, #9e7afc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.pr_1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
  display: flex;
  align-items: center;

  background: linear-gradient(101.73deg, #000000 -3.33%, #9e7afc 78.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.pr_2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #4b4b4b;
  margin-top: 21px;
  margin-bottom: 76px;
}

.pr_3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  background: linear-gradient(101.73deg, #000000 -3.33%, #9e7afc 78.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.backed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */

  background: linear-gradient(92.68deg, #000000 -26.9%, #a488ff 87.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  background: linear-gradient(101.73deg, #000000 -3.33%, #9e7afc 78.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.h3 {
  width: 924px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: linear-gradient(92.68deg, #000000 -26.9%, #A488FF 87.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.pr_4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1b1c39;
}
.p6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32.04px;
  color: #535060;
}

.pr_5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52.5px;
  display: flex;
  align-items: center;

  background: linear-gradient(101.73deg, #000000 -3.33%, #9e7afc 78.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.pr_6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;

  background: linear-gradient(89.87deg, #000000 2.29%, #a488ff 99.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.phone {
  position: absolute;
  width: 661.95px;
  height: 530.45px;
  right: 0px;
  top: 200px;
  z-index: 20;
}



.btn2 {
  position: relative;
}
.btn2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(190.73deg, #80b2ff, #7c27d9, #ff68f0) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.btn3 {
  position: relative;
  box-shadow: 0px 18.1947px 36.3894px rgba(105, 67, 175, 0.1);
  border-radius: 40.9381px;
  width: 95.36px;
}
.btn3::before {
  width: inherit;
  content: "";
  position: absolute;
  inset: 0;

  border-radius: inherit;
  border: 0.91px solid transparent; /*2*/
  background: linear-gradient(190.73deg, #4b99de, #6b3ba6) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.btn10 {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(105, 67, 175, 0.1);
  border-radius: 45px;
  width: 155px;
}
.btn10::before {
  width: inherit;
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid;
  border-image-source: linear-gradient(215.92deg, #4B99DE 0%, #6B3BA6 100%);
  border-radius: inherit;
  background: linear-gradient(215.92deg, #4B99DE 0%, #6B3BA6 100%) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}


.price1 {
  position: relative;
  margin-top: 84px;
  background: #FFFFFF;
  width: 380px;
  height: 573px;
  border-radius: 25px;
}
.price1::after {
  width: inherit;
  height: inherit;
  content: "";
  border: 1px solid;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    354.38deg,
    #a08cff -5.24%,
    rgba(160, 140, 255, 0) 101.01%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.aldo {
  position: relative;
  width: 380px;
  height: 275px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 26px;
  padding-top: 30px;
  padding-bottom: 32px;
  box-shadow: 0px 20px 40px rgba(105, 67, 175, 0.1);
}

.aldo::before{
  content: "";
  width: 353px;
  height: 275px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    124.81deg, rgba(160, 140, 255, 0.4) 1.51%, rgba(160, 140, 255, 0) 95.88%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding-left: 20px;
  padding-right: 26px;
  padding-top: 30px;
  padding-bottom: 32px;
  
}

.provider {
  position: relative;
  width: 280px;
  height: 201px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  /*flex-direction: column; */
  padding-left: 79px;
  padding-right: 78px;
  padding-top: 43px;
  padding-bottom: 43px;
  justify-content: center;
  align-items: center;
}

.provider::before{
  content: "";
  width: 280px;
  height: 201px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    319.13deg, #A08CFF -4.79%, rgba(160, 140, 255, 0) 108.54%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding-left: 79px;
  padding-right: 78px;
  padding-top: 43px;
  padding-bottom: 43px;
}

.codebase {
  position: relative;
  width: 280px;
  height: 201px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  /*flex-direction: column; */
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 53px;
  padding-bottom: 53px;
  justify-content: center;
  align-items: center;
}

.codebase::before{
  content: "";
  width: 280px;
  height: 201px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    319.13deg, #A08CFF -4.79%, rgba(160, 140, 255, 0) 108.54%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 53px;
  padding-bottom: 53px;
}

.duck {
  position: relative;
  width: 280px;
  height: 201px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  /*flex-direction: column; */
  padding: 79px 32px 78px 33px;

  justify-content: center;
  align-items: center;
}

.duck::before{
  content: "";
  width: 280px;
  height: 201px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    319.13deg, #A08CFF -4.79%, rgba(160, 140, 255, 0) 108.54%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding: 79px 32px 78px 33px;
}

.cloud {
  position: relative;
  width: 280px;
  height: 201px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  /*flex-direction: column; */
  padding: 70px 38.14px 70.98px 38.87px;
  justify-content: center;
  align-items: center;
}

.cloud::before{
  content: "";
  width: 280px;
  height: 201px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    319.13deg, #A08CFF -4.79%, rgba(160, 140, 255, 0) 108.54%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding: 70px 38.14px 70.98px 38.87px;
}

.pace {
  position: relative;
  width: 580px;
  height: 305px;
  background: #FFFFFF;
  border-radius: 25px;
  /* display: flex; */
  /*flex-direction: column; */
  padding: 33px 30px 55px 30px;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
  top: -170px;
}

.pace::before{
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    360deg, #A08CFF -4.79%, rgba(160, 140, 255, 0) 108.54%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding: 33px 30px 55px 30px;
}

.zendesk {
  position: relative;
  width: 580px;
  height: 425px;
  background: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  justify-content: space-between;
  box-shadow: 0px 20px 40px rgba(105, 67, 175, 0.17);
  z-index: 20;
}

.zendesk::before{
  content: "";
  width: 580px;
  height: 425px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
    119.38deg, rgba(160, 140, 255, 0.52) 0%, rgba(160, 140, 255, 0) 99.9%
  )
  border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  padding: 40px 30px;
  z-index: 20;
}

.price2 {
  position: relative;
  margin-top: 40px;
  background: #FFFFFF;
  width: 380px;
  height: 617px;
  border-radius: 25px;
  box-shadow: 0px -8px 107px rgba(105, 67, 175, 0.28);
}
.price2::after {
  width: inherit;
  height: inherit;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent; /*2*/
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%)
    border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.price3 {
  position: relative;
  margin-top: 84px;
  border-radius: 25px;
  background: #FFFFFF;
  width: 380px;
  height: 573px;
}
.price3::after {
  width: inherit;
  height: inherit;
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0px -8px 107px rgba(105, 67, 175, 0.28);
  border-radius: inherit;
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
      170.2deg,
      rgba(27, 24, 40, 0) -8.73%,
      #1b1828 107.65%
    )
    border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  left: 0;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 100px;
  background: linear-gradient(
    180deg,
    #d155ff 4.6%,
    #b532f2 17.14%,
    #a016e8 29.4%,
    #9406e2 40.22%,
    #8f00e0 48.46%,
    #a08cff 92.32%
  );
  /* transform: rotate(90deg); */
}

.features {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  left: 630px;
  margin-bottom: 40px;
  background: linear-gradient(89.87deg, #000000 2.29%, #A488FF 99.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.feature_1 {
  box-sizing: border-box;

  width: 580px;
  height: 691px;
  position: relative;

  background: #ffffff;
  box-shadow: 0px -8px 100px rgba(105, 67, 175, 0.26);
  border-radius: 25px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.card20 {
  position: absolute;
  width: 580px;
  height: 305px;
  left: 0px;
  top: 386px;
  padding: 30px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.feature_2 {
  box-sizing: border-box;
  top: 124px;
  left: -16px;
  width: 480px;
  height: 567px;
  position: relative;
  border: 1.26px solid;
  padding: 20px, 30px;
  border-radius: 25px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.card_bg {
  background: linear-gradient(145.77deg, #faf9fe 8.5%, #c6baff 90.85%);
  border-radius: 25px;
}

.feature_3 {
  box-sizing: border-box;
  top: 124px;
  right: -16px;
  position: relative;
  width: 480px;
  height: 568px;
  position: relative;
  border: 1.26px solid;
  padding: 20px, 30px;

  border-radius: 25px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.round_ups {
  width: 1342px;
  height: 821px;
  left: 49px;
  top: 3975px;
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(105, 67, 175, 0.1);
  border-radius: 25px;
}
.round_ups2 {
  width: 1177px;
  height: 533px;
  left: 131px;
  top: 4643px;
  background: #ffffff;
  box-shadow: 0px -8px 100px rgba(105, 67, 175, 0.1);
  border-radius: 25px;
}

.pricing {
  height: 767px;
  background: linear-gradient(
    180deg,
    rgba(198, 186, 255, 0.28) 0%,
    rgba(198, 186, 255, 0) 100%
  );
  border-radius: 25px;
  padding-top: 70px;
  padding-left: 81px;
  padding-right: 81px;
  margin-left: 49px;
  margin-right: 49px;
}
.premium {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  background: linear-gradient(225deg, #80b2ff 0%, #7c27d9 51.55%, #ff68f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
